
.accordionItem{
    width: 80vw;
    margin : 0 auto;
    box-shadow: rgba(99,99,99,0.2) 0px 2px 8px 0;
    margin-bottom: 16px;
    background-color: white;
    border-radius: 7px;
    padding: 8px 16px;
    cursor:pointer
  }
  
  .title-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .title-parent p{
    font-size: 18px;
  }
  
  .accordion-transition{
    overflow: hidden;
    transition: all;
    transition-duration: 600ms;
    transition-timing-function: ease-in-out;
    max-height: 0;
  }
  
  .active{
    max-height: 100vh;
  }
  
  .content{
    margin-top: 10px;
  }
  
  @media only screen and (min-width:824px){
    .accordionItem{
      width: 600px;
    }
  }
  